---
layout: single
author_profile: false
---

<div style="text-align: center;">
  <img src="{{ site.author.avatar }}" alt="{{ site.author.name }}" style="width:150px; border-radius:50%; margin-bottom:1rem;">

  <h1>Hi, I am {{ site.author.name }}</h1>
  <p><em>{{ site.author.personal-title }}</em></p>

  <p><strong>About me:</strong></p>
  <p>{{ site.author.bio | markdownify }}</p>

  <p>
    {% for link in site.author.links %}
      {% if link.url %}
        <a href="{{ link.url }}" target="_blank">
          <i class="{{ link.icon }}"></i> {{ link.label }}
        </a>
        {% unless forloop.last %} · {% endunless %}
      {% endif %}
    {% endfor %}
  </p>
</div>

<hr style="margin: 3rem auto; width: 60%;">

<h2 style="text-align: center; margin-bottom: 1rem;">Highlighted Projects</h2>

<div class="project-grid">
  {% for project in site.data.projects limit:3 %}
  <a href="{{ project.url }}" class="project-card">
    <div class="project-info">
      <h3>{{ project.title }}</h3>
      <p>{{ project.description }}</p>
    </div>
    <img src="{{ project.image }}" alt="{{ project.title }}">
  </a>
  {% endfor %}
</div>

