---
layout: single
author_profile: false
---

<div class="author-intro-wrapper">
  <div class="author-intro">
    <img src="{{ site.author.avatar }}" alt="{{ site.author.name }}" class="author-avatar">
  
    <div class="author-text">
      <h1>Hi, I am {{ site.author.name }}</h1>
      <p><em>{{ site.author.personal-title }}</em></p>
  
      <p><strong>About me:</strong></p>
      <p>{{ site.author.bio | markdownify }}</p>
  
      <p class="author-links">
        {% for link in site.author.links %}
          {% if link.url %}
            <a href="{{ link.url }}" target="_blank">
              <i class="{{ link.icon }}"></i> {{ link.label }}
            </a>
            {% unless forloop.last %} · {% endunless %}
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
</div>


<hr style="margin: 3rem auto; width: 60%;">

<section id="highlights" class="project-grid-wrapper">
  <!-- <h2 style="text-align: center; margin-bottom: 1rem;">Highlighted Projects</h2> -->
  <div class="project-grid">
    {% for project in site.data.projects limit:3 %}
      <a href="{{ project.url }}" class="project-card">
        <img src="{{ project.image }}" alt="{{ project.title }}">
        <div class="project-info">
          <h3>{{ project.title }}</h3>
          <span class="project-date">{{ project.date }}</span>
          <!-- <p>{{ project.description }}</p> -->
           <div class="project-tools">
             {% assign tool_list = project.tools | split: " | " %}
             {% for tool in tool_list %}
               <span class="tool-badge">{{ tool }}</span>
             {% endfor %}
           </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

