/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #FFFFFF !default;
$header-color: #121212 !default;
$header-text-color: #eaeaea !default;
$text-color: #333333 !default;
$primary-color: #eaeaea !default;
$border-color: mix(#fff, $header-color, 20%) !default;
$code-background-color: #1e1e1e !default;
$code-background-color-dark: #1e1e1e !default;
$form-background-color: #1e1e1e !default;
$footer-background-color: #1e1e1e !default;
$footer-text-color: #eaeaea !default;
// $link-color: mix($primary-color, $text-color, 40%) !default;
$link-color: $text-color !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $header-text-color !default;
$masthead-link-color-hover: mix(#000, $header-text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}